@model IEnumerable<ApiTracking.Models.Details>

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-7">
            <h2 class="text-primary">Api Log Results</h2>
        </div>
        <!-- <form class="col-7" method="get" asp-action="Index">
         <div class="input-group">
             <input type="search" placeholder="Enter the ID" value="@ViewData["Get Api Tracking Details"]" name="id" />
             <div class="input-group-append">
                 <button type="submit" class="btn btn-primary">Search </button>
             </div>
         </div>
     </form>-->

        <div class="col-4 p-0 justify-content-end">
            <form asp-controller="SearchController1" asp-action="Search">
                <span class="btn-group">
                    <input class="form-control" type="text" name="SearchText" placeholder="Search Text" />
                    <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search" />
                </span>
            </form>
        </div>

        <partial name="_Pager" model="@pager" />
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>JsonResponse</th>
                    <th>IsSuccess</th>
                    <th>CreatedAt</th>
                    <th>ModifiedAt</th>
                    <th>ApiType</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.JsonResponse</td>
                        <td>@item.IsSuccess</td>
                        <td>@item.CreatedAt</td>
                        <td>@item.ModifiedAt</td>
                        <td>@item.ApiType</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {

    }

<partial name="_Pager" model="@pager" /> 

</div>


