@model IEnumerable<ApiTracking.Models.Details>

@{
    ViewData["Title"] = "Index";

    string intSno = "View";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <a asp-controller="SearchController1" asp-action="Index">
                <h2 class="text-primary">Api Log Results</h2>
            </a>
        </div>

        <div class="col-4 p-0 justify-content-end">
            <form asp-controller="SearchController1" asp-action="Search">
                <span class="btn-group">
                    <input class="form-control" type="text" name="SearchText" placeholder="Search Text" />
                    <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search" />
                </span>
            </form>
        </div>
        <partial name="_Pager" model="@pager" />
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>JsonResponse</th>
                    <th>IsSuccess</th>
                    <th>CreatedAt</th>
                    <th>ModifiedAt</th>
                    <th>ApiType</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("View", "View", new { id = item.ID }, new { target = "_blank" })
                            
                        </td>
                        <td>@item.ID</td>
                        <td>@item.JsonResponse</td>
                        <td>@item.IsSuccess</td>
                        <td>@item.CreatedAt</td>
                        <td>@item.ModifiedAt</td>
                        <td>@item.ApiType</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Items</p>
    }
    <partial name="_Pager" model="@pager" />

</div>
